<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartlife.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.smartlife.entity.User">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="icon" property="icon"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, phone, password, nick_name, icon, create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tb_user WHERE id = #{id}
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tb_user WHERE phone = #{phone}
    </select>

    <insert id="insert" parameterType="com.smartlife.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user (phone, nick_name, icon)
        VALUES (#{phone}, #{nickName}, #{icon})
    </insert>
</mapper>
